html, body {
	font-family: sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	border: none;
}

td {
	vertical-align: top;
}

a:link, a:active, a:visited {
	color: #000000;
}

img {
	border: 0;
}

.hidden {
	display: none;
}

.silent_link {
	color: #000000;
	cursor: pointer;
	text-decoration: none;
}

.table_title {
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.6em;
}

.table_pages {
	float: right;
	margin-bottom: 0.6em;
}

.popup_header {
	width: 48em;
}

.popup_body {
	width: 48em;
}

.popup_close {
	display: inline-block;
	float: right;
}

.popup_header .name {
	font-size: 1.4em;
	font-weight: bold;
}

.description {
	font-size: 0.9em;
}

.synonyms {
	font-size: 0.8em;
}

/* ------------------------------------------- */

.documents {
	clear: both;
	display: block;
	float: left;
	padding: 0em 1em 1em 1em;
	width: 46em;
}

.document_wrapper {
	clear: both;
	text-align: left;
	padding: 1em;
}

.document_odd  {
	border-bottom: solid 1px #4F4F4F;
}

.document_even {
	background: #DFDFDF;
	border-bottom: solid 1px #4F4F4F;
}

.document_title, .document_title a {
	font-size: 0.9em;
	font-weight: bold;
	margin-bottom: 5px;
}

.document_authors {
	/*color: darkgreen;*/
	color: #004300;
	font-size: 0.7em;
	margin-left: 0px;
}

.document_authors a {
	/*color: darkgreen;*/
	color: #004300;
	text-decoration: none;
}

.document_abstract {
	cursor: pointer;
	font-size: 0.9em;
	line-height: 1.25em;
	margin-top: 7px;
}

.document_match_type1 {
	color: darkred;
	font-weight: bold;
	background: #E0E0E0;
}

.document_match_type2 {
	color: darkblue;
	font-weight: bold;
	background: #E0E0E0;
}

/* ------------------------------------------- */

.popup {
	background: #FFFFFF;
	border: solid;
	position: absolute;
	visibility: hidden;
	z-index: 2;
	padding: 0em 1em 1em 1em;
	box-shadow: 5px 5px 15px #BFBFBF;
}

/* ------------------------------------------- */

.header {
	background-color: #E3E3E3;
	border-bottom: solid 1px #4F4F4F;
	padding: 2em 8em 1em 8em;
}

.content {
	display: block;
	margin: 4em 0em;
	padding: 0em 8em;
}

.footer {
	color: #4F4F4F;
	padding: 0em 8em 2em 8em;
	width: 50em;
}

.ajax_table {
	margin: 4em 0em;
	width: 50em;
}

/* ------------------------------------------- */

.group {
	clear: both;
	display: block;
	width: 95%;
}

.group_header {
	display: block;
	font-size: 1.6em;
	font-weight: bolder;
	line-height: 0em;
	margin-bottom: 40px;
	border-bottom: solid 1px #000000;
}

.group_body {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 20px;
}

/* ------------------------------------------- */

.section {
	clear: both;
	display: block;
	width: 50em;
}

.section_header {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: solid 1px #4F4F4F;
}

.section_body {
	display: block;
	margin-bottom: 1em;
}

/* ------------------------------------------- */

.data {
	clear: both;
	text-align: left;
	font-size: 0.9em;
	font-family: Helvetica;
	border-top: solid 2px #4F4F4F;
	border-bottom: solid 2px #4F4F4F;
}

.data td {
	width: auto;
	vertical-align: middle;
}

.data th {
	text-align: left;
	width: auto;
	background: #DFDFDF;
	border-bottom: solid 1px #4F4F4F;
}

.data tr.even {
	background: #DFDFDF;
}

.data tr.odd {
}

.data .confidence {
	text-align: right;
	width: 5em;
}

.data .evidence {
	width: 8em;
}

.data .identifier {
	text-align: right;
}

.data .source {
	width: 8em;
}

.data .z-score {
	width: 8em;
}

.data span.stars {
	color: #4F4F4F;
}

/* ------------------------------------------- */

form input.query {
	font-size: 1em;
	width: 40em;
}

form input.search {
	font-size: 1em;
	width: 8em;
}

form div.spacer {
	display: inline-block;
	width: 2em;
}

span.examples {
	left: 8em;
	position: absolute;
	text-align: right;
	width: 40em;
}

.header_left {
	display: inline-block;
}

.header_left a {
	text-decoration: none;
}

.header_right {
	display: inline-block;
	float: right;
}

.header h1 {
	display: inline;
	font-size: 4.4em;
	font-weight: normal;
}

.header img {
	padding-top: 8px;
}

.header p {
	margin: 0;
}
