/*
<!--                                            -->
<!--    Script created by Lars Juhl Jensen      -->
<!--     as part of the EXTRACT project         -->
<!--              June 2015                     -->
<!--                                            -->
<!--    Modified by pafilis@hcmr.gr             -->
<!--                                            -->

<!------------------------------------------------>
<!--                 History                    -->
<!------------------------------------------------>

<!-- v001: 06.06.15:	finalized popup css style
<!-- v002: 12.08.15:	updated the background and font colours for the
			highlight-on-hover functionality, apple extra rules
			for the entity hyperlink font color-->
<!-- v003: 12.08.15:	body: removed height/width 100% as they were causing a
			scrollbar to appear-->
*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	border: none;
	overflow-x: hidden;
}

td {
	vertical-align: top;
}

a:link, a:active, a:visited {
	color: #000000;
}

img {
	border: 0;
}

.hidden {
	display: none;
}

.button_link {
	appearance: button;
	-moz-appearance: button;
	-webkit-appearance: button;
	text-decoration: none;
	font: menu;
	color: ButtonText;
	display: inline-block;
	padding: 2px 8px;
}

.silent_link {
	color: #000000;
	cursor: pointer;
	text-decoration: none;
}

.table_title {
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.6em;
}

.table_pages {
	float: right;
	margin-bottom: 0.6em;
}

/* ------------------------------------------- */

.extract_match {
	background-color: #DFDFDF;
}

.extract_highlight {
	background-color: #4B607F !important;
	color: #fff !important;
}

.extract_highlight a:link, .extract_highlight a:active, .extract_highlight a:visited {
	color: #fff;
}

.header, .menu, .footer {
	display: none;
}

.content {
	display: block;
	padding: 0em 1em;
}

.ajax_table {
	margin: 1em 0em;
	width: 30em;
}

/* ------------------------------------------- */

.group {
	clear: both;
	display: block;
	width: 95%;
}

.group_header {
	display: block;
	font-size: 1.6em;
	font-weight: bolder;
	line-height: 0em;
	margin-bottom: 40px;
	border-bottom: solid 1px #000000;
}

.group_body {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 20px;
}

/* ------------------------------------------- */

.section {
	clear: both;
	display: block;
	width: 50em;
}

.section_header {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: solid 1px #4F4F4F;
}

.section_body {
	display: block;
	margin-bottom: 1em;
}

/* ------------------------------------------- */

.data {
	clear: both;
	text-align: left;
	font-size: 0.9em;
	border-top: solid 2px #4F4F4F;
	border-bottom: solid 2px #4F4F4F;
}

.data td {
	width: auto;
	vertical-align: middle;
}

.data th {
	text-align: left;
	width: auto;
	background: #DFDFDF;
	border-bottom: solid 1px #4F4F4F;
}

.data tr.even {
	background: #DFDFDF;
}

.data tr.odd {
}

.data .confidence {
	text-align: right;
	width: 5em;
}

.data .evidence {
	width: 10em;
}
i
.data .identifier {
	text-align: right;
}

.data .source {
	width: 8em;
}

.data .z-score {
	width: 10em;
}

.data span.stars {
	color: #4F4F4F;
}

/* ------------------------------------------- */

form input.query {
	font-size: 1em;
	width: 40em;
}

form input.search {
	font-size: 1em;
	width: 8em;
}

form div.spacer {
	display: inline-block;
	width: 2em;
}

span.examples {
	left: 8em;
	position: absolute;
	text-align: right;
	width: 40em;
}
